<%- include("partials/header"); %>

<!-- SEARCH BAR AND ACCOUNT ICON -->
<section class="page-content">
    <section class="search-and-user">
      <form>
        <input type="search" placeholder="Search Pages...">
        <button type="submit" aria-label="submit form">
          <svg aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </form>
      <div class="admin-profile">
        <span class="greeting">Hello admin</span>
        <div class="notifications">
          
          <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Account</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Account</a>
                <a href="#">Log Out</a>
              </div>
            </div>
            </div>
            
        </div>
      </div>
    </section>
    <!-- ARTICLE SECTION -->
    <section class="grid">
      <article>
          <div>
              <h1>Your Profile</h1>
              <img style="border-radius: 50%" height="100vh" src="https://www.loc.gov/static/portals/free-to-use/public-domain/nurses-and-nursing/Nursing-1.jpg" alt="img"></img>
              <div>
                  <h1>Abhishek Yadav</h1>
                  <p>CODER</p>
              </div>
          </div>
      </article>
      <article>
        <div>
            <h1>Your Resumes</h1>
        
            <ul>
                <li style="border:5px solid black">Resume 1</li>
                <li style="border:5px solid black">Resume 2</li>
                <li style="border:5px solid black">Resume 3</li>
            </ul>
        </div>
        </div>
        
        
      </article>
      <article>Notifications</article>
      <article>Recent Activity</article>
      <article>Experience</article>
      <article>Skills</article>
      <article></article>
      <article></article>
    </section> 

<%- include("partials/footer"); %>
