<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>    Job-Spot  </title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Landing Page css styles4.css -->
  <link rel="stylesheet" href="/css/styles4.css">   
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <!-- navbar -->

  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/" class="w3-bar-item w3-button w3-wide">LOGO</a>
       <div class="w3-right w3-hide-small">
        <a href="/admin" class="w3-bar-item w3-button"><i class='bx bxs-dashboard'></i>DashBoard</a>
        <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/logout" class="w3-bar-item w3-button"><i class='bx bxs-log-out' ></i> Logout</a>

      </div>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
<!-- JOB POST FORM -->
<br>
<br>
<br>
<div class="jobdiv">
    <form action="/admin/jobpostform" method="post">
        <label for="JobTitle">Job Title</label><br>
        <input type="text" id="fname" name="jobTitle" placeholder="Enter the Job title"><br>
        <label for="titleDesc">Title Description</label><br>
        <textarea id="w3review" name="titleDesc" rows="4" cols="50" placeholder="Enter title Description"></textarea><br>
        <label for="Skills">Skills</label><br>
        <textarea id="w3review" name="skills" rows="4" cols="50" placeholder="Enter the skills"></textarea><br>
        <label for="Duration">Duration</label><br>
        <input type="text" name="duration"><br>
        <label for="stipend">Stipend</label><br>
        <input type="text" name="stipend" placeholder="Enter the stipend"><br><br>
        <input type="submit" value="Submit">
      </form>
</div>
 <footer >
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <h1>Copyright &copy; Job-Spot 2023 ; </h1>
        </div>
  </footer>
      <script>
        // Modal Image Gallery
        function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
          var captionText = document.getElementById("caption");
          captionText.innerHTML = element.alt;
        }
        
        
        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");
        
        function w3_open() {
          if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
          } else {
            mySidebar.style.display = 'block';
          }
        }
        
        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
        </script>
    </body>
    </html>